body {
    font-family: Arial,Helvetica,sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #7d7d7d;
}
h1 {
    font-size: 150%;
}
.version {
    font-size: 80%;
}

.version a {
    text-decoration: none;
}

.parent {
    width:100%;
    display: flex;
    justify-content: center;
}
.main {
    max-width: 350px;
    background-color: #f4f4f4;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 250px;
}
.example {
    overflow: auto;
    max-height: 300px;
    padding: 5px;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
}
.example pre {
    margin-top: 0;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
}
.form-group label {
    /* width: 270px; */
    /* margin-right: 10px; */
    flex: 1;
}
.form-group input {
    /* flex: 0; */
    flex: 2;
    max-width: 150px;
    margin-left: 10px;
}

.form-group input.wide {
    max-width: 100%;
    margin-left: 0px;
}

.command-buttons {
    padding-left: 10px;
    padding-right: 10px;
}
.command-buttons .command {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 10px;
}

.command {
    margin-left: 10px;
    cursor: pointer;
    display: block;
    padding: 2px 4px;
    background-color: #E9E9ED;
    color: #333;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.command:hover {
    background-color: #D0D0D0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
.command:active {
    background-color: #C0C0C0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.title {
    font-weight: bold;
    margin-top: 25px;
}
.tooltip {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 5px;
    font-weight: bold;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 85%;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.settings-yaml {
    width: 100%;
    height: 300px;
    padding: 5px;
    border: 1px solid #c8c8c8;
    background-color: #f9f9f9;
    font-family: monospace;
}

.glass-pane {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 9999; /* Ensure it is above other content */
    display: none;
    align-items: center;
    justify-content: center;
}
.spinner {
    border: 8px solid rgb(112, 219, 91, 0.7);
    border-top: 8px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.cursor-help {
    cursor: help;
}

.notification-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #70db5b;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 10000; /* Ensure it is above other content */
    display: none;
}
.notification-panel-error {
    background-color: #d43535;
}

.notification-panel button {
    background-color: #38734c;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.notification-panel-error button {
    background-color: #733838;
}

.notification-panel button:hover {
    background-color: #38734c63;
}

.notification-panel-error button:hover {
    background-color: #73383863;
}

